.btn{
    color: var(--color-grey0);
    display: inline-flex;
    padding: 0 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    outline: none;
    border-radius: 8px;
    background: var(--color-grey400);
    &.default{
        height: 3.75rem;
    }
    &.medium{
        height: 2.5rem;
    }
    &:hover{
        background: var( --color-primary);
    }
}